@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.form {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 4% 0;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .form {
    width: 90%;
  }
}
.form__item {
  margin-bottom: 24px;
}
.form__item .input {
  padding: 8px;
  width: 100%;
}
.form button {
  padding: 12px;
  background-color: white;
  border: 1px solid black;
}

header .menu-top, footer .menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  background-color: #202020;
}
header .menu-top__title, footer .menu-top__title {
  color: white;
  font-size: 22px;
}
header .menu-top__search form, footer .menu-top__search form {
  margin: 0;
}
header .menu-top__search form input, header .menu-top__search form button, footer .menu-top__search form input, footer .menu-top__search form button {
  padding: 8px;
}
header .menu-bot, footer .menu-bot {
  background-color: #f3f3f3;
  padding: 8px;
}
header .menu-bot__list, footer .menu-bot__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
}
header .menu-bot__list li, footer .menu-bot__list li {
  margin: 0 12px;
  color: black !important;
}
header .menu a, footer .menu a {
  text-decoration: none;
}

.post_container {
  margin: 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 60%;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 20px;
}
.post_container .post_title {
  text-align: center;
}

h2.post_headline,
h2.comments__title {
  color: #ff6f61;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_content > .post_price_category {
  margin-left: auto;
}

.post_content > .post_description {
  text-align: justify;
  word-break: break-all;
}

/* COMMENTS */
.post_container .post_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_container .post_comment > .comment-meta {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_container .post_comment > .comment-meta > .comment_date {
  margin-left: auto;
}

.post_container .post_comment > .comment_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.img-thumbnail {
  display: inline-block;
}

.comment-block {
  display: contents;
}
.comment-block p {
  width: 100%;
}

.comment-by {
  width: 90%;
  margin-left: 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment {
  list-style-type: none;
}

.comment > .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin: 30px 0 0 0;
}

ul {
  margin: 0;
  padding: 0;
}

.cards {
  padding: 4% 15% !important;
}
.cards-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 2rem;
}
.cards-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .cards-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards-gallery .card {
  width: 30%;
  border: none !important;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 1024px) {
  .cards-gallery .card {
    width: 100%;
    margin-bottom: 32px;
  }
}
.cards-gallery .card-title {
  color: #ff8800;
  margin: 0;
}
.cards-gallery .card img {
  width: 100% !important;
  height: 300px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-gallery .card-body {
  padding: 1rem;
}
.cards-gallery .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .cards-gallery .card-content {
    display: block;
  }
  .cards-gallery .card-content p {
    margin-top: 24px;
  }
}
.cards-gallery .card-content a {
  color: black;
}
.cards-gallery .card-content p {
  margin: 0;
}
.cards-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-buttons button {
  margin: 48px 12px;
  padding: 12px;
  background-color: white;
  border: 1px solid black;
}
.cards-buttons button a {
  color: black;
  text-decoration: none;
}