@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body, html {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.arrow {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #3c4250;
  border-left: 2px solid #3c4250;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: #6666ff;
  border-width: 5px;
}

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow.down {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 175px;
}

li {
  list-style: none;
}

.form {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 4% 0;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .form {
    width: 90%;
  }
}
.form__item {
  margin-bottom: 24px;
}
.form__item .input {
  padding: 8px;
  width: 100%;
}
.form button {
  padding: 12px;
  background-color: white;
  border: 1px solid black;
}

.comment-respond {
  margin-top: 1rem;
}

.comment-form {
  margin-top: 1rem;
}
.comment-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-form .form-group textarea {
  height: 200px;
}

.form-control {
  border: 1px solid rgba(33, 33, 33, 0.1);
  background: none;
  padding: 0.7rem;
  border-radius: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  font-size: 0.925rem;
  width: 1170px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container {
    display: block;
  }
}

.navbar {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eeeeee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover, .navbar .navbar-menu .navbar-nav > li > a:hover > * {
  color: #6666ff;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #6666ff;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 160%;
  left: 0;
  background-color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #6666ff;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.75rem;
  font-family: "Pacifico", cursive;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999999;
}

.footer__btn,
.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: rgba(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}
.footer__btn input,
.form-submit input {
  border: none;
}

.postform, .btn {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: rgba(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  margin: 0.6em 0;
  padding: 0.7rem 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__nav > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999999;
}

.nav__ul--extra {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1.25em;
     -moz-column-gap: 1.25em;
          column-gap: 1.25em;
}

.legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999999;
}

.legal__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .nav__item--extra {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }

  .footer__addr {
    -webkit-box-flex: 1;
        -ms-flex: 1 0px;
            flex: 1 0px;
  }

  .footer__nav {
    -webkit-box-flex: 2;
        -ms-flex: 2 0px;
            flex: 2 0px;
  }
}
.post_container {
  margin: 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 60%;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 20px;
}
.post_container .post_title {
  text-align: center;
  margin-bottom: 30px;
}
.post_container .post_img {
  min-width: 100%;
}

h2.post_headline,
h2.comments__title {
  color: #ff6f61;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_content > .post_price_category {
  margin-left: auto;
}

.post_content > .post_description {
  text-align: justify;
  word-break: break-all;
}

/* COMMENTS */
.post_container .post_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post_container .post_comment > .comment-meta {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_container .post_comment > .comment-meta > .comment_date {
  margin-left: auto;
}

.post_container .post_comment > .comment_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.img-thumbnail {
  display: inline-block;
}

.comment-arrow {
  margin: 0 0 0 20px;
}

.comment-block {
  margin-top: 10px;
  width: 100%;
}

.infos-author {
  margin-bottom: 15px;
}

.comment-by {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment {
  list-style-type: none;
}

.comment > .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin: 30px 0 0 0;
}

ul {
  margin: 0;
  padding: 0;
}

.cards {
  padding: 4% 15% !important;
}
.cards-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 2rem;
}
.cards-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .cards-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards-gallery .card {
  width: 30%;
  border: none !important;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0 25px 25px 0;
}
@media screen and (max-width: 1024px) {
  .cards-gallery .card {
    width: 100%;
    margin-bottom: 32px;
  }
}
.cards-gallery .card-title {
  color: #ff8800;
  margin: 0;
}
.cards-gallery .card img {
  width: 100% !important;
  height: 300px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-gallery .card-body {
  padding: 1rem;
}
.cards-gallery .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .cards-gallery .card-content {
    display: block;
  }
  .cards-gallery .card-content p {
    margin-top: 24px;
  }
}
.cards-gallery .card-content a {
  color: black;
}
.cards-gallery .card-content p {
  margin: 0;
}
.cards-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-buttons button {
  margin: 48px 12px;
  padding: 12px;
  background-color: white;
  border: 1px solid black;
}
.cards-buttons button a {
  color: black;
  text-decoration: none;
}