.form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 4% 0;
    width: 40%;

    @media screen and (max-width: 1024px) {
        width: 90%;
    }

    &__item {
        margin-bottom: 24px;

        .input {
            padding: 8px;
            width: 100%;
        }
    }

    button {
        padding: 12px;
        background-color: white;
        border: 1px solid black;
    }
}

.comment-respond {
    margin-top: 1rem;

}
.comment-form{
    margin-top: 1rem;
    .form-group{
        display: flex;
        flex-direction: column;
        textarea {
            height: 200px;
        }
    }
}
.form-control {
    border: 1px solid rgba(33, 33, 33, 0.1);
    background: none;
    padding: .7rem;
    border-radius: 15px;

}