name: GitHub Actions Demo

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: SSH Remote Commands
        # You may pin to the exact commit or the version.
        # uses: appleboy/ssh-action@1d1b21ca96111b1eb4c03c21c14ebb971d2200f6
        uses: appleboy/ssh-action@v0.1.4
        with:
         # ssh host
          host: ${{ secrets.HOST }}
          # ssh port
          port: 22
          # ssh username
          username: ${{ secrets.USERNAME }}
          # content of ssh private key. ex raw content of ~/.ssh/id_rsa
          key: ${{ secrets.SECRET }}
          script: |
            cd marmichlingue
            git fetch --all
            git reset --hard origin/develop
            docker-compose build
            sudo docker-compose exec -T php wp option update home 'http://185.189.159.104/' --allow-root
            sudo docker-compose exec -T php wp option update siteurl 'http://185.189.159.104/' --allow-root
            sudo docker-compose exec -T php wp search-replace 'http://localhost:2345/' 'http://185.189.159.104/' --allow-root
            ls -al

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.